
.main{
    display: flex;
    border: solid 3px rebeccapurple;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    height: 200px;
}

.info_ships{
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_ships{
    width: 200px;
    height: 200px;
}

